<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>荷花</title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/css03.css">
</head>
<body>
<!--导航栏-->
<nav>
    
    <ul class="menu">
        <li><a href="../home.html">首页</a></li>
        <li><a href="图鉴.html">植物图鉴</a></li>
        <li>
            <a href="javascript:;">交流互助</a>
        </li>
        <li><a href="index.html">登录</a></li>
    </ul>
</nav>

<div class="img">
    <img src="../images/4.jpg" alt="">
</div>
<main>
    <div class="left">
        <h3>推荐 - 荷花</h3>
        <div class="main">
            <div class="ll">
                <img src="../images/hehua1.jpg" alt="">

            </div>
            <div class="lr">
                <img src="../images/hehua2.jpg" alt="">
                <p><strong>荷花</p>
                <p>荷花（学名：Nelumbo sp.；英文名称：Lotus Flower）：属山龙眼目、莲科，是莲属中2个物种“莲花”和“黄莲花”及众多人工培育品种的通称。 [19]是多年生水生草本花卉。地下茎长而肥厚，有长节，叶盾圆形。花期6至9月，单生于花梗顶端，花瓣多数，嵌生在花托穴内，有红、粉红、白、紫等色，或有彩纹、镶边。坚果椭圆形，种子卵形。

</p>
                <p>荷花种类很多，分观赏和食用两大类。原产亚洲热带和温带地区，中国早在周朝就有栽培记载。荷花全身皆宝，藕和莲子能食用，莲子、根茎、藕节、荷叶、花及种子的胚芽等都可入药。其出污泥而不染之品格恒为世人称颂。“接天莲叶无穷碧，映日荷花别样红”就是对荷花之美的真实写照。荷花“中通外直，不蔓不枝，出淤泥而不染，濯清涟而不妖”的高尚品格，历来为诗人墨客歌咏绘画的题材之一。 </p>

            </div>
        </div>
    </div>
    
</main>

<!-- <div class="nowTime">
    <h2>当前时间</h2>
    <p id="time"></p>
</div>
<div class="changeBack">
    <h3>切换背景</h3>
    <div onclick="changeBackground('slategray')"></div>
    <div onclick="changeBackground('cornsilk')"></div>
    <div onclick="changeBackground('lightblue')"></div>
    <div onclick="changeBackground('thistle')"></div>
</div> -->

<footer>
    <p>川大校园植物站&copy;第一组</p>
    <div>
        <p>如有侵权，请联系删除</p>
        <p>Tel:xxxxxxxx</p>
    </div>
</footer>
<script src="../js/js03.js"></script>
</body>
</html>