<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海棠</title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/css03.css">
</head>
<body>
<!--导航栏-->
<nav>
    
    <ul class="menu">
        <li><a href="../home.html">首页</a></li>
        <li><a href="图鉴.html">植物图鉴</a></li>
        <li>
            <a href="javascript:;">交流互助</a>
        </li>
        <li><a href="index.html">登录</a></li>
    </ul>
</nav>

<div class="img">
    <img src="../images/2.jpg" alt="">
</div>
<main>
    <div class="left">
        <h3>推荐 - 海棠</h3>
        <div class="main">
            <div class="ll">
                <img src="../images/haitang1.jpg" alt="">

            </div>
            <div class="lr">
                <img src="../images/haitang2.jpg" alt="">
                <p><strong>海棠</p>
                <p>海棠花，蔷薇科苹果属乔木植物海棠的花。 海棠花小枝粗壮，呈圆柱形；叶片椭圆形至长椭圆形；边缘有紧贴细锯齿，有时部分近于全缘；花序近伞形，花瓣卵形；基部有短爪，白色，在芽中呈粉红色；果实近球形，成熟时为黄色，果期8-9月。《本草纲目》在解释海棠花时，说“凡花木名海者，皆从海外来”，海棠花从海外来，类棠梨，故名。
海棠花原产中国，18世纪传到欧洲， 现分布于中国河北、山东、陕西、江苏、浙江、云南等地。海棠花对严寒及干旱气候有较强的适应性，喜阳，适宜在阳光充足的环境生长，如果长期置于阴凉的地方，就会生长不良。海棠通常以嫁接或分株等方式繁殖，亦可用播种、压条及根插等方法繁殖。观赏性好的品种多用嫁接。
</p>
                <p>海棠中含有丰富的氨基酸、矿物质和微量元素，可治风湿、痢疾，外用可治跌打损伤。《陆川本草》言其可“生肌消肿，捣敷疮痈溃疡”。海棠花自古以来是雅俗共赏的花，唐朝宰相贾耽的《花谱》一书称海棠为“花中神仙”， 此外，海棠花还有“国艳”“花贵妃”“花尊贵”等美称，在皇家园林中常与玉兰、牡丹、桂花相配植，有“玉棠富贵”的意境。 </p>

            </div>
        </div>
    </div>
    
</main>

<!-- <div class="nowTime">
    <h2>当前时间</h2>
    <p id="time"></p>
</div>
<div class="changeBack">
    <h3>切换背景</h3>
    <div onclick="changeBackground('slategray')"></div>
    <div onclick="changeBackground('cornsilk')"></div>
    <div onclick="changeBackground('lightblue')"></div>
    <div onclick="changeBackground('thistle')"></div>
</div> -->

<footer>
    <p>川大校园植物站&copy;第一组</p>
    <div>
        <p>如有侵权，请联系删除</p>
        <p>Tel:xxxxxxxx</p>
    </div>
</footer>
<script src="../js/js03.js"></script>
</body>
</html>