<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蓝花楹</title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/css03.css">
</head>
<body>
<!--导航栏-->
<nav>
    
    <ul class="menu">
        <li><a href="../home.html">首页</a></li>
        <li><a href="图鉴.html">植物图鉴</a></li>
        <li>
            <a href="javascript:;">交流互助</a>
        </li>
        <li><a href="index.html">登录</a></li>
    </ul>
</nav>

<div class="img">
    <img src="../images/1.jpg" alt="">
</div>
<main>
    <div class="left">
        <h3>推荐 - 蓝花楹</h3>
        <div class="main">
            <div class="ll">
                <img src="../images/lanhuaying1.jpg" alt="">

            </div>
            <div class="lr">
                <img src="../images/lanhuaying2.jpg" alt="">
                <p><strong>蓝花楹</p>
                <p>蓝花楹（Jacaranda mimosifolia D. Don）是紫葳科蓝花楹属的落叶乔木，叶对生，小叶椭圆状披针形至椭圆状菱形，顶端急尖，基部楔形；花蓝色，花萼筒状，花冠筒细长，蓝色，裂片圆形；朔果木质，扁卵圆形；花期5-6月。 因其花如蓝雾一片，朦胧清雅，似梦非梦，在艳阳下，又觉得一树蓬勃的花像异色火焰，绚烂到极致，又称为蓝色火焰。
蓝花楹原产于南美洲巴西，在中国广西、云南、福建、台湾等地区有栽培。蓝花楹性喜阳光充足和温暖、多湿气候，根系发达，分布范围大，在土层深厚、肥沃湿润、排水良好、腐殖质丰富的疏松土壤上生长良好。 蓝花楹可进行播种繁殖，也可进行扦插繁殖。 
蓝花楹具有发汗止呕、清热解毒、通便等功能。 蓝花楹绿荫如伞，叶纤细似羽，蓝花朵朵，观赏价值高，是庭院绿化的优良品种； 其木材纹理直，质软而轻，易加工，可做家具、板材等。 </p>
                <p>  落叶乔木，高达15米。叶对生，为2回羽状复叶，羽片通常在16对以上，每1羽片有小叶16-24对；小叶椭圆状披针形至椭圆状菱形，长6-12毫米，宽2-7毫米，顶端急尖，基部楔形，全缘。
花蓝色，花序长达30厘米，直径约18厘米。花萼筒状，长宽约5毫米，萼齿5。花冠筒细长，蓝色，下部微弯，上部膨大，长约18厘米，花冠裂片圆形。雄蕊4，2强，花丝着生于花冠筒中部。子房圆柱形，无毛。蒴果木质，扁卵圆形，长宽均约5厘米，中部较厚，四周逐渐变薄，不平展。花期5-6月</p>

            </div>
        </div>
    </div>
    
</main>

<!-- <div class="nowTime">
    <h2>当前时间</h2>
    <p id="time"></p>
</div>
<div class="changeBack">
    <h3>切换背景</h3>
    <div onclick="changeBackground('slategray')"></div>
    <div onclick="changeBackground('cornsilk')"></div>
    <div onclick="changeBackground('lightblue')"></div>
    <div onclick="changeBackground('thistle')"></div>
</div> -->

<footer>
    <p>川大校园植物站&copy;第一组</p>
    <div>
        <p>如有侵权，请联系删除</p>
        <p>Tel:xxxxxxxx</p>
    </div>
</footer>
<script src="../js/js03.js"></script>
</body>
</html>