<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银杏</title>
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/css03.css">
</head>
<body>
<!--导航栏-->
<nav>
    
    <ul class="menu">
        <li><a href="../home.html">首页</a></li>
        <li><a href="图鉴.html">植物图鉴</a></li>
        <li>
            <a href="javascript:;">交流互助</a>
        </li>
        <li><a href="index.html">登录</a></li>
    </ul>
</nav>

<div class="img">
    <img src="../images/3.jpg" alt="">
</div>
<main>
    <div class="left">
        <h3>推荐 - 银杏</h3>
        <div class="main">
            <div class="ll">
                <img src="../images/yinxing1.jpg" alt="">

            </div>
            <div class="lr">
                <img src="../images/yinxing2.jpg" alt="">
                <p><strong>银杏</p>
                <p>银杏（Ginkgo biloba L.）是银杏科、银杏属植物。乔木，高达40米，胸径可达4米；幼树树皮浅纵裂，大树之皮呈灰褐色，深纵裂，粗糙；幼年及壮年树冠圆锥形，老则广卵形。叶扇形，有长柄，淡绿色，无毛，有多数叉状并列细脉，顶端宽5-8厘米，在短枝上常具波状缺刻，在长枝上常2裂，基部宽楔形。球花雌雄异株，单性，生于短枝顶端的鳞片状叶的腋内，呈簇生状；雄球花葇荑花序状，下垂。种子具长梗，下垂，常为椭圆形、长倒卵形、卵圆形或近圆球形状。
</p>
                <p>银杏为速生珍贵的用材树种，边材淡黄色，心材淡黄褐色，结构细，质轻软，富弹性，易加工，有光泽，比重0.45-0.48，不易开裂，不反挠，为优良木材，供建筑、家具、室内装饰、雕刻、绘图版等用。种子供食用（多食易中毒）及药用。叶可作药用和制杀虫剂，亦可作肥料。种子的肉质外种皮含白果酸、白果醇及白果酚，有毒。树皮含单宁。银杏树形优美，春夏季叶色嫩绿，秋季变成黄色，颇为美观，可作庭园树及行道树。 </p>

            </div>
        </div>
    </div>
    
</main>

<!-- <div class="nowTime">
    <h2>当前时间</h2>
    <p id="time"></p>
</div>
<div class="changeBack">
    <h3>切换背景</h3>
    <div onclick="changeBackground('slategray')"></div>
    <div onclick="changeBackground('cornsilk')"></div>
    <div onclick="changeBackground('lightblue')"></div>
    <div onclick="changeBackground('thistle')"></div>
</div> -->

<footer>
    <p>川大校园植物站&copy;第一组</p>
    <div>
        <p>如有侵权，请联系删除</p>
        <p>Tel:xxxxxxxx</p>
    </div>
</footer>
<script src="../js/js03.js"></script>
</body>
</html>