@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1680931033044') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dongman:before {
  content: "\e613";
}

.icon-dongman1:before {
  content: "\e504";
}

.icon-dongman2:before {
  content: "\e605";
}

